<template>
  <h1>Compute Sum</h1>
  <form v-if="moduleInitialized" @submit.prevent="computeSum">
      <div>
          <label for="firstNumber">First Number:</label>
          <input v-model="firstNumber" id="firstNumber" type="text">
      </div>
      <div>
          <label for="secondNumber">Second Number:</label>
          <input v-model="secondNumber" id="secondNumber" type="text">
      </div>
      <p v-if="sumNumber" class="result">{{sumNumber}}</p>
  </form>
</template>

<script setup>

import {ref, watch} from "vue";

const moduleInitialized = ref(false)
const firstNumber = ref(0);
const secondNumber = ref(0);
const sumNumber = ref(null);

let worker = new Worker('/src/module.js', {type: 'module'});

watch([firstNumber, secondNumber], () => {
    computeSum()
});

const computeSum = () => {
    worker.postMessage({
        command: 'getSum',
        firstNumber: firstNumber.value,
        secondNumber: secondNumber.value,
    })
}

worker.addEventListener('message', function(e) {
    const command = e.data.command;
    if (command) {
        if(command === 'moduleInitialized') {
            moduleInitialized.value = true;
        }
        if(command === 'sumResult') {
            sumNumber.value = e.data.value;
        }
    }
});

</script>

<style>
form {
    display: grid;
    gap: 1rem;
}

input, label {
    font-size: 5rem;
    padding: 1rem;
}

.result {
    font-size: 10rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2rem;
}

</style>
